<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>supervised_user_circle</mat-icon>
    </button>
    <span>Angular 13 CRUD Using Material UI</span>
    <span class="example-spacer"></span>
    <a routerLink="pages/dashboard" style="margin-right: 10px;" class="" mat-flat-button>
        <mat-icon aria-hidden="false" fontIcon="home"></mat-icon>Dashboard</a>
    <a routerLink="pages/reactive-form-page" style="margin-right: 10px;" class="" mat-flat-button>Reactive Forms</a>
    <a routerLink="pages/decorators" style="margin-right: 10px;" class="" mat-flat-button>Decorators</a>
    <a routerLink="app/life-cyclehooks" style="margin-right: 10px;" class="" mat-flat-button>Lifecycle Hooks</a>
    <a routerLink="pages/contact" style="margin-right: 10px;" class="" mat-flat-button>Contacts</a>
    <a routerLink="login" style="margin-right: 10px;" class="" mat-flat-button>Login</a>
</mat-toolbar>
<router-outlet></router-outlet>
