<div style="margin: 20px;">
    <div>
        <h1>ngOnChanges</h1>
        <app-app-child-component></app-app-child-component>
        <app-app-parent></app-app-parent>
        <hr>
    </div>
    <div>
        <h1>ngOnInit</h1>
        <app-app-child-on-init></app-app-child-on-init>
        <app-app-parent-oninit></app-app-parent-oninit>
        <hr>
    </div>
    <div>
        <h1>ngDoCheck</h1>
        <app-app-ngdocheck></app-app-ngdocheck>
        <hr>
    </div>
    <div>
        <h1>ngAfterViewInit</h1>
        <app-app-aftercontentinit></app-app-aftercontentinit>
        <app-app-aftercontentinit-b></app-app-aftercontentinit-b>
        <app-app-aftercontentinit-c></app-app-aftercontentinit-c>
        <hr>
    </div>
    <div>
        <h1>ngAfterContentInit</h1>
        <app-aftercontent-checked-a></app-aftercontent-checked-a>
        <app-aftercontent-checked-b></app-aftercontent-checked-b>
        <app-aftercontent-checked-c></app-aftercontent-checked-c>
        <hr>
    </div>
    <div>
        <h1>ngAfterViewChecked</h1>
        <app-afterviewchecked-a></app-afterviewchecked-a>
        <app-afterviewchecked-b></app-afterviewchecked-b>
        <app-afterviewchecked-c></app-afterviewchecked-c>
        <hr>
    </div>
    <div>
        <h1>ngAfterContentChecked</h1>
        <app-aftercontent-checked-a></app-aftercontent-checked-a>
        <app-aftercontent-checked-b></app-aftercontent-checked-b>
        <app-aftercontent-checked-c></app-aftercontent-checked-c>
        <hr>
    </div>
    <div>
        <h1>ngOnDestroy</h1>
        <app-ondestroy></app-ondestroy>
        <hr>
    </div>
</div>